@using INSAATTaksitTakip.Models
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLREFERANSLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_YonetimLayout.cshtml";
    string ara = "";
    if (Request["ara"] != null)
    {
        ara = Request["ara"].ToString();
    }
}

<script>

    function Silsinmi() {
        var sil = confirm("Silinsin mi?");
        return sil;
    }
</script>
<div class="item  col-md-9 offset-md-2 col-xs-9 offset-xs-2 col-sm-9 offset-sm-2">
    <div id="liste" class="table-responsive ">
        <div id="searchbar" style="margin-top:10px; margin-bottom:10px;">
            <form id="frm1" method="post" action="~/Yonetim/Referanslar/Ara" class="form-inline">
                <input class="form-control mr-sm-2" id="txtAra" name="txtAra" value="@ara" type="search" placeholder="Referans açıklaması giriniz.." aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">ARA</button>
                <a href="~/Yonetim/Referanslar/KayitFormu/-1" class="btn btn-outline-success">Yeni</a>
            </form>
        </div>
        @{
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Sil</th>
                    <th>Düzenle</th>
                    <th>Açıklama</th>
                    <th>Medya</th>
                </tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td><a class="btn btn-danger" onclick="return Silsinmi()" href="~/Yonetim/Referanslar/Sil/@Model[i].REFERANS_REFNO">SİL</a></td>
                        <td><a class="btn btn-primary" href="~/Yonetim/Referanslar/KayitFormu/@Model[i].REFERANS_REFNO">DÜZENLE</a></td>
                        <td>@Model[i].ACIKLAMA</td>
                        <td>@Model[i].MEDYA</td>
                    </tr>
                }
            </table>

        }

    </div>
    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
</div>




